<div data-ng-controller="LoginCtrl" class="login">
   <!--  <div class="alert alert-danger animated fadeIn" ng-show="hasLoginError">{{hasLoginError}}</div> -->
    <h1>sign in</h1>
    <form  ng-submit="login(loginForm)" name="loginForm" class="signin" novalidate>
        
        <!-- Honeypot -->
        <div class="form-group has-feedback has-description-icon password-field" ng-show="showUsername">
            <label for="username">Username</label>

            <span class="glyphicon glyphicon-user form-control-feedback description-icon"></span>

            <input id="username" type="text" name="username" class="form-control" ng-model="user.username">
            
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>

            <p class="help-block">
                <span>Please enter a username.</span>
            </p>
        </div>

         <!-- Email -->
        <div class="form-group has-feedback has-description-icon" ng-class="{ 'has-error': showErrors(loginForm, 'email', ['required', 'email']) }">

            <label for="email">Email Address</label>
            
            <!-- Description Icon -->
            <span class="glyphicon glyphicon-envelope form-control-feedback description-icon"></span>

            <input id="email" type="email" name="email" class="form-control" ng-model="user.email" ng-blur="validateOnBlur(loginForm, 'email')" required/>

            <span ng-show="showErrors(loginForm, 'email', ['required', 'email'])" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            
            <!-- Error messages -->
            <p class="help-block">
                <span ng-show="showError(loginForm, 'email', 'required')">Please enter an email address.</span>
                <span ng-show="showError(loginForm, 'email', 'email')">Invalid email format. Try again?</span>
            </p>

        </div>

         <div class="form-group has-feedback has-description-icon password-field" ng-class="{ 'has-error': showErrors(loginForm, 'password', ['required', 'minlength']) }">

            <label for="password">Password</label>
            <a ui-sref="auth.forgotPassword"><strong>forgot your password</strong></a>

            <!-- Description Icon -->
            <span class="glyphicon glyphicon-lock form-control-feedback description-icon"></span>

            <input id="password" type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" ng-blur="validateOnBlur(loginForm, 'password'); isCapsLockOn = false" ng-keypress="checkCapsLock($event)" required/>

            <span ng-show="showErrors(loginForm, 'password', ['required', 'minlength'])" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            
            <!-- Error messages -->
            <p class="help-block">
                <span ng-show="showError(loginForm, 'password', 'required')">Please enter a password.</span>
                <span ng-show="showError(loginForm, 'password', 'minlength')">Password length too short (min. 8 characters). Try again?</span>
                <span ng-show="isCapsLockOn" class="help-message">Note: your caps lock is on.  Passwords are case-sensitive.</span>
            </p>

        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="user.rememberMe">&nbsp;stay signed in
                </label>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': hasLoginError }">
            <p class="help-block">
                <span ng-show="hasLoginError && !(signInAttempts >= maxSignInAttempts)">We couldn't log you in using those credentials.  Try again?</span>
                <span ng-show="hasLoginError && (signInAttempts >= maxSignInAttempts)">You've made quite a few attempts already.  Would you like to try <a class="text-danger" ui-sref="auth.resetPassword"><strong>resetting your password</strong></a> instead?</span>
            </p>
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="isSigningIn">
                <span ng-show="isSigningIn">checking credentials...</span>
                <span ng-show="!isSigningIn">sign in</span>
            </button>&nbsp;
        </div>
        <div class="form-group text-center">
            <span>don't have an account?&nbsp;<a ui-sref='auth.register'><strong>sign up for free</strong></a></span>
        </div>
    </form>
</div>
