<div data-ng-controller="RegisterCtrl">
    <div ng-repeat="error in registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

    <h1>make your account (it's free)</h1>
    <form ng-submit="register()" class="signup form-horizontal">
        <div class="form-group">
            <label for="name">Display Name</label>
            <input id="name" type="text" name="name" placeholder="Display Name" class="form-control" ng-model="user.name"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Minimum 8 characters" class="form-control" ng-model="user.password"/>
        </div>
        <div class="form-group">
            <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm password" class="form-control" ng-model="user.confirmPassword"/>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox">&nbsp;I'd like to receive email updates from melaude.
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox">&nbsp;I have read and agree to melaud's <a href="">Terms of Use</a> and <a href="">Privacy Agreement</a>
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">sign up</button>
        </div>
    </form>
</div>
