.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
}
.page-header>div>div, .page-header>div>ul {
    display:inline-block;
}
.text-edit {
    padding: 13px 0 0 0;
}
.account {
    text-align:right;
}
.account>div, .account>ul {
    text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.content {
    margin-top:70px;
    width:100%
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}
footer p {
    padding:5px 0 12px 10px
}

/** Registration Form **/
.registration .has-error .help-block .help-message, .registration .has-success .help-block .help-message {
    color: #737373;
}

.has-feedback.has-description-icon .description-icon {
    left: 0;
    color: gray;
}

.has-feedback.has-description-icon .form-control {
    padding-left: 34px;
}

.has-feedback.no-label .form-control-feedback {
    top: 0;
}

/** Password Strength **/
.password-strength-wrapper {
    height: 100%;
    margin-top: 3px;
}

.password-strength-wrapper > .strength-indicators {
    height: 2px;
}

.password-strength-wrapper > .strength-indicators > .strength-indicator-wrapper {
    height: 100%;
    width: calc(100% / 4);
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 3%;
}

.password-strength-wrapper > .strength-indicators > .strength-indicator-wrapper > .strength-indicator-content {
    height: 100%;
    background-color: gray;
}

.password-strength-wrapper > .indicator-message {
    text-align: right;
    margin-right: 3%;
    font-size: small;
    color: #737373;
}

.password-strength-wrapper.password-strength-1 .strength-indicator-wrapper:nth-child(1) > .strength-indicator-content {
    background-color: indianred;
}

.password-strength-wrapper.password-strength-2 .strength-indicator-wrapper:nth-child(1) > .strength-indicator-content,
.password-strength-wrapper.password-strength-2 .strength-indicator-wrapper:nth-child(2) > .strength-indicator-content
{
    background-color: yellow;
}

.password-strength-wrapper.password-strength-3 .strength-indicator-wrapper:nth-child(1) > .strength-indicator-content,
.password-strength-wrapper.password-strength-3 .strength-indicator-wrapper:nth-child(2) > .strength-indicator-content,
.password-strength-wrapper.password-strength-3 .strength-indicator-wrapper:nth-child(3) > .strength-indicator-content
{
    background-color: lightgreen;
}

.password-strength-wrapper.password-strength-4 .strength-indicator-wrapper:nth-child(1) > .strength-indicator-content,
.password-strength-wrapper.password-strength-4 .strength-indicator-wrapper:nth-child(2) > .strength-indicator-content,
.password-strength-wrapper.password-strength-4 .strength-indicator-wrapper:nth-child(3) > .strength-indicator-content,
.password-strength-wrapper.password-strength-4 .strength-indicator-wrapper:nth-child(4) > .strength-indicator-content
{
    background-color: green;
}